[Desktop Entry]
Name=MP4Joiner
Comment=Join multiple MP4 files
Exec=mp4joiner
Icon=mp4joiner
Type=Application
Terminal=false
Categories=AudioVideoEditing;Video;AudioVideo;
